<a href="https://colab.research.google.com/github/Fuenfgeld/2022TeamADataEngineeringBC/blob/main/Pr%C3%A4sentationen/Demo%20%26%20%C3%9Cbungen/Uebungen_Kapitel_2%2B3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Vorbereitung einlesen der Daten 

In diesem Abschnitt müssen Sie nichts machen. Dieser dient nur für das Einlesen und die Bereitstellung der Daten für die folgenden Übungen.

In [2]:
# Bibliotheken einmalig installieren
!pip install pyspark pandas pysqlite3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 30 kB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Collecting pysqlite3
  Downloading pysqlite3-0.4.7.tar.gz (40 kB)
     |████████████████████████████████| 40 kB 4.2 MB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 8.3 MB/s
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Building wheels for collected packages: pyspark, pysqlite3
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=b8865c2669103d84fddf30a6fd78ab40a32a88ac8270812a47e4787c3e845b91
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
  Building wheel for pysqlite3 (setup.py) ... done
  Created wheel for pysqlite3: filename=pysqlite3-0.4.7-cp37-cp37m-linux_x86_64.whl size=132893 sha256=7f159ae2e709e9a3cf66f56f2919e9aa8bf65a1381d0af35a73f7cb675ba0b98
  Stored in directory: /root/.cache/pip/wheels/e5/bf/e1/b92ae6794ca15c7dcc2b1f8068ebb3f86e6affa5c0fe5e8f40
Successfully built pyspark pysqlite3
Installing collected packages: py4j, pysqlite3, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1 pysqlite3-0.4.7

In [6]:
#Angabe der Daten für den Pfad
!wget -O create_data_advacend.py https://raw.githubusercontent.com/Fuenfgeld/2022TeamADataEngineeringBC/36-pr%C3%A4sentation-fortgeschrittene-transaktionen/Pr%C3%A4sentationen/03-Fortgeschrittene%20Transformationen/create_data_advacend.py

--2022-05-31 19:32:57--  https://raw.githubusercontent.com/Fuenfgeld/2022TeamADataEngineeringBC/36-pr%C3%A4sentation-fortgeschrittene-transaktionen/Pr%C3%A4sentationen/03-Fortgeschrittene%20Transformationen/create_data_advacend.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11341 (11K) [text/plain]
Saving to: ‘create_data_advacend.py’

create_data_advacen 100%[===================>]  11.08K  --.-KB/s    in 0s

2022-05-31 19:32:57 (81.2 MB/s) - ‘create_data_advacend.py’ saved [11341/11341]

In [7]:
#Import der nötigen Packete
import sqlite3
import pandas as pd
import pyspark.sql.functions as func
import os

os.system("python3 create_data_advacend.py")

0

In [ ]:
## (Py)Spark starten
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [ ]:
# Datei Corn einlesen & in Spark-Dataframe schreiben
df_corn = spark.read.option("multiline",True).json('Corn.json')
df_corn.show()

+------+-----+-------+-----------------+----+-------------+
|  crop|field|revenue|water_consumption|week|yield_per_sqm|
+------+-----+-------+-----------------+----+-------------+
|barley|    8|      0|               12|   1|            0|
|barley|    8|      0|               10|   2|            0|
|barley|    8|      0|               12|   3|            0|
|barley|    8|     35|               14|   4|           10|
|barley|    8|     50|               14|   5|           25|
|barley|    8|     40|               18|   6|           15|
|barley|    8|     60|               12|   7|           30|
|  corn|   10|      0|               10|   1|            0|
|  corn|   10|      0|               12|   2|            0|
|  corn|   10|     30|               20|   3|           25|
|  corn|   10|     60|               26|   4|           25|
|  corn|   10|    150|               24|   5|           25|
|  corn|   10|    100|               10|   6|           25|
|  corn|   10|    150|               15|   7|            0|
|  oats|    9|      0|               15|   1|            0|
|  oats|    9|      0|               25|   2|            0|
|  oats|    9|    150|               15|   3|           60|
|  oats|    9|    150|               25|   4|           60|
|  oats|    9|    150|               25|   5|           60|
|  oats|    9|    120|               15|   6|           40|
+------+-----+-------+-----------------+----+-------------+
only showing top 20 rows

In [ ]:
## Datenbankdaten in Dataframe schreiben
connection_obj = sqlite3.connect('Diddly_Squat_Farm.db')
cursor_obj = connection_obj.cursor()

# Tabelle Fields ausgeben
for row in cursor_obj.execute('SELECT * FROM fields'):
        print(row)

# Tabelle Fields in Dataframe df_fields schreiben
df_fields = pd.read_sql_query("SELECT * FROM fields", connection_obj)
print('\n\nDies ist das erzeugte Dataframe:\n\n', df_fields)

connection_obj.close()

(5, 'Barn Ground', 10)
(6, 'Bank', 10)
(7, 'Far Brossler', 20)
(8, 'Middle Broom', 20)
(9, 'Chalks', 25)
(10, 'Big Broom ', 60)


Dies ist das erzeugte Dataframe:

    field_id    field_name  area_in_sqm
0         5   Barn Ground           10
1         6          Bank           10
2         7  Far Brossler           20
3         8  Middle Broom           20
4         9        Chalks           25
5        10    Big Broom            60

In [ ]:
#DataFrame für Datenbank erzeugen
df_fields= spark.createDataFrame(df_fields)
df_fields.show()

+--------+------------+-----------+
|field_id|  field_name|area_in_sqm|
+--------+------------+-----------+
|       5| Barn Ground|         10|
|       6|        Bank|         10|
|       7|Far Brossler|         20|
|       8|Middle Broom|         20|
|       9|      Chalks|         25|
|      10|  Big Broom |         60|
+--------+------------+-----------+

Nachdem nun alle Daten geladen wurden können Sie anschließend mit den Übungen beginnen.

# Einfache Transformationen

**Übungen**

1. Dieses Notebook enthält noch eine weitere JSON Datei namens `Corn.json` mit Daten zu Gedreide. Werte den Wasserverbrauch nur für das Gedreide aus.
2. Ermittle wie viel Wasser pro Feld eingesetzt wurde.
3. Ermittle den gesamten Wasserverbrauch für alle Pfanzen.

#### Zugriff auf Spalten

[<img src=https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/02-Einfache%20Transformationen/Spaltenzugriff.png width="600"/>](https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/02-Einfache%20Transformationen/Spaltenzugriff.png)

In [ ]:
# 1. Werte den Wasserverbrauch nur für das Gedreide aus, indem du dir die Spalten der jeweiligen Nutzpflanze mit zugehörigem Wasserverbrauch anschaust.
#df_corn.select("crop", "water_consumption").show()
df_corn.???("???", "???").show()

#### Nutzung einfacher Aggregatfunktionen

In [ ]:
# 2. Ermittle wie viel Wasser pro Feld eingesetzt wurde.
#df_corn.groupBy("field").sum("water_consumption").show()
df_corn.groupBy("???").sum("???").show()

In [ ]:
## 3. Ermittle den gesamten Wasserverbrauch für alle Pfanzen.
#df_corn.agg(func.sum("water_consumption")).show()
df_corn.agg(func.???("???")).show()

#Übungen für Fortgeschrittene 

In dieser Übung müssen Sie Jeremy tatkräftig unter die Arme greifen. 
Nachdem wir bereits Ihm bereits bei dem Anbau des Obst und Gemüse geholen haben, müssen Sie nun für in die Daten für das Getreide auswerten.

Hierfür müssen Sie folgend vorgehen:

1.   Helfen Sie Jeremy dabei sich einen Überblick über die Daten zu verschaffen in dem Sie JOIN verwerden.
2.   Berechnen Sie für die jeweilge Getreideart den Wasserverbrauch, Ertrag pro Fläche sowie die Einnahmen.


Als Unterstützung zur Bewältigung der Aufgabe erhalten Sie die Folien aus der Präsentation Pyspark Functions and Advanced Transformations.
__________________________________________________________________________

Um Jeremy helfen zu können verschaffen Sie sich zunächst einen Überblick über die Daten.

In [ ]:
#df_fields.show(10)
#df_corn.show(10)

df_fields.???
df_corn.???

SyntaxError: ignored

#### Join-Bedingungen

Verknüpfen Sie anschließend die zwei Tabellen miteinander. Wählen Sie hierfür die geeignete Join-Bedingung.

[<img src=https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie10.JPG width="800"/>](https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie10.JPG)

[<img src=https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie11.JPG width="800"/>](https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie11.JPG)

[<img src=https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie12.JPG width="800"/>](https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie12.JPG)

In [ ]:
#gesamt_join = df_corn.join(df_fields, df_corn.field ==  df_fields.field_id,"inner")

gesamt_join = df_corn.join(???, ??? ==  ???,"???")
gesamt_join.show()

Um die Wirtschaftlichkeit unseres Unternehmen zu prüfen, möchte Jeremy sich den gesamten Ertrag pro Fläch für die jeweiligen Getreidesorte wissen. Helfen Sie Jeremy dabei in dem Sie:

+  Die Spalten des Ertrag pro m² mit der Fläche in m² multiplizieren um den gesamten Ertrag pro Fläche zu erhalten 
+ Erzeugen Sie eine neue Spalte im DataFrame für das Ergebnis
+ Tipp: hierfür können Sie die Funcktion col der Sparkfunctions verwenden

In [ ]:
#gesamt_join = gesamt_join.withColumn("yield_per_area", func.col("yield_per_sqm") * func.col("area_in_sqm"))

gesamt_join = gesamt_join.withColumn("???", func.col("???") * func.col("???"))
gesamt_join.show()

#### Groupby Bedingung und Pyspark Funktionen

Nutzen Sie **groupby()** Bedingung sowie die Sparkfuntions **sum** um Jeremy eine Übersicht der Einnahmen, Wasserverbrauchs und dem Ertrag pro Fläche des jeweiligen Getreide zu verschaffen.

[<img src=https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie8.JPG width="800"/>](https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie8.JPG)

[<img src=https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie9.JPG width="800"/>](https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie9.JPG)

[<img src=https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie4.JPG width="800"/>](https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie4.JPG)

[<img src=https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie5.JPG width="800"/>](https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie5.JPG)

[<img src=https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie9.JPG width="800"/>](https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie9.JPG)

In [ ]:
#gesamt_ertrag =  gesamt_join.groupBy("crop").agg(func.sum("revenue"), func.sum("yield_per_area"), func.sum("water_consumption"))
#gesamt_ertrag = gesamt_ertrag.select(func.col("crop").alias("Crop"),func.col("sum(revenue)").alias("revenue") , func.col("sum(water_consumption)").alias("water_consumption"), func.col("sum(yield_per_area)").alias("yield_per_area"))

gesamt_ertrag =  gesamt_join.groupBy("???").agg(???, ????, ???)
gesamt_ertrag.show()

Nachdem wir den Ertrag für die einzelnen Getreidesorten kennen, müssen wir Jeremy bei der Ermittelung des Gewinn je Lebensmittel unter die Arme greifen.

+ Hierfür benötigen wir die zuvor ermittelten Liter je Sorte welche wir mit dem Wert von 0.2 Cent verrechnen. 
 
+ Anschließend müssen noch die Erwerbskosten für die  Pflanzensamen miteinbeziehen um unsere Produktionskosten zu erhalten.
  >Kosten für Samen :
  + Mais = 5 Cent
  + Hafer = 10 Cent
  + Roggen = 20 Cent 


+ Geben Sie das Ergebnis absteigend an.

Die folgende Codezeile können Sie einfach ausführen um mit den Übungen fortzufahren.

In [ ]:
from pyspark.sql.window import Window as W
rating = [5,10,20]
seed_cost = spark.createDataFrame([(l,) for l in rating], ['cost_of_seed'])
gesamt_ertrag = gesamt_ertrag.withColumn("idx", func.monotonically_increasing_id())
seed_cost = seed_cost.withColumn("idx", func.monotonically_increasing_id())
gesamt_ertrag.show()

windowSpec = W.orderBy("idx")
gesamt_ertrag = gesamt_ertrag.withColumn("idx", func.row_number().over(windowSpec))
seed_cost = seed_cost.withColumn("idx", func.row_number().over(windowSpec))
seed_cost.show()

Nun sind Sie wieder gefragt. Joinen Sie die beiden Tabellen um mit der Ermittlung der Produktionskosten weiterzufahren.

In [ ]:
#gesamt_ertrag = gesamt_ertrag.join(b, gesamt_ertrag.idx == b.idx).drop("idx")

gesamt_ertrag = gesamt_ertrag.join(???, ??? == ???).drop("idx")
gesamt_ertrag.show()

In [ ]:
#gesamt_ertrag = gesamt_ertrag.withColumn("revenue_after_water_cost", func.col("revenue") - (func.col("water_consumption")* 0.02))
#gesamt_ertrag = gesamt_ertrag.withColumn("netto_revenue",col("revenue_after_water_cost") - col("cost_of_seed"))
#gesamt_ertrag.orderBy(col("netto_revenue").desc()).show()

gesamt_ertrag = gesamt_ertrag.withColumn("revenue_after_water_cost", ??? - (???"* 0.02))
gesamt_ertrag = gesamt_ertrag.withColumn("netto_revenue",func.col("revenue_after_water_cost") - func.col("cost_of_seed"))
gesamt_ertrag.orderBy(col("netto_revenue").???).show() #desc oder asc

#### User Defined Functions

Um auch für das Getreide in unserem Hofladen gewinnbringend vertreiben können, müssen wir Jeremy bei der Preisfindung unterstützen. 

Die Einnahmen sind bisher in Pence angegeben Rechnenen Sie diese in Pfund um.

>> Randinformationen:
*   Ein Pfund (£) hat 100 Pence (p).
*   Für den Mindestverkaufspreis müssen unsere Getreidesorten noch mit einer Mehrwertsteuer von 19% besteuert werden.
* Für einen lukrativen Verkaufspreis müssen wir den Nettopreis mit 59% besteuern






 





+ Verwenden Sie für die Preisfindung Lambda-Funktionen. Welche der beiden Variante Sie verwenden bleibt Ihnen überlassen. 

+ Ermitteln Sie hierfür den Preis pro Stück und erzeugen hierfür eine neue Spalte in dem Dataframe

[<img src=https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie6.JPG width="800"/>](https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie6.JPG)

[<img src=https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie7.JPG width="800"/>](https://github.com/Fuenfgeld/2022TeamADataEngineeringBC/raw/main/Pr%C3%A4sentationen/Bilder_Praesentationen/Pyspark_Advaced/Folie7.JPG)

In [ ]:
#rdd2 = gesamt_ertrag.rdd.map(lambda x: (x["Crop"], x["netto_revenue"]*1.19*0.01, x["netto_revenue"]*1.59*0.01)) 
#cost_overview = rdd2.toDF(["Crop","min_selling_price_per_piece", "lucrative_selling_price"])
#cost_overview = cost_overview.withColumn("min_selling_price_per_piece", func.round(cost_overview["min_selling_price_per_piece"], 2)).withColumn("lucrative_selling_price", func.round(cost_overview["lucrative_selling_price"], 2))
#cost_overview.withColumn("currency", func.lit("£")).orderBy(col("lucrative_selling_price").desc()).show()


rdd2 = gesamt_ertrag.rdd.map(lambda x: (???, ???*1.19*0.01, ???*1.59*0.01)) 
cost_overview = rdd2.toDF(["Crop","min_selling_price_per_piece", "lucrative_selling_price"])
cost_overview = cost_overview.withColumn("min_selling_price_per_piece", func.round(cost_overview["min_selling_price_per_piece"], 2)).withColumn("lucrative_selling_price", func.round(cost_overview["lucrative_selling_price"], 2))
cost_overview.withColumn("currency", func.lit("£")).orderBy(col("lucrative_selling_price").desc()).show()

In [ ]:
#def calc_func(x):
#    Crop = x.Crop
#    Netto_Revenue = x.netto_revenue 
#    min_selling_price_per_piece = Netto_Revenue*1.19*0.01
#    lucrative_selling_price = Netto_Revenue*1.59*0.01
#    return (Crop, min_selling_price_per_piece, lucrative_selling_price)

#rdd_process=gesamt_ertrag.rdd.map(lambda x: calc_func(x))


# By Calling function
def calc_func(x):
    Crop = ???
    Netto_Revenue = ???
    min_selling_price_per_piece = ???1.19*0.01
    lucrative_selling_price = ???1.59*0.01
    return (???, ???, ???)

rdd_process=gesamt_ertrag.rdd.map(lambda x: ???)
cost_overview_with_func = rdd_process.toDF(["Crop","min_selling_price_per_piece", "lucrative_selling_price"])
cost_overview_with_func = cost_overview_with_func.withColumn("min_selling_price_per_piece", func.round(cost_overview_with_func["min_selling_price_per_piece"], 2)).withColumn("lucrative_selling_price", func.round(cost_overview_with_func["lucrative_selling_price"], 2))
cost_overview_with_func.withColumn("currency", func.lit("£")).orderBy(col("lucrative_selling_price").desc()).show()